# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  user_nickname: First User
  user_email: user@example.com
  user_password: testtest
  domain_name: example.com
  secret_key_base: d63dc179ccfb42f0aa13936058348ec2c3a4603f7a365ef85658615905a31dd28bac05baa5b4279869230d6f2f3406ae5931476262ab14c3bf8212bbaf059484
  api:
    host:
    user:
    password:
    client_id:
    client_secret:


test:
  domain_name: example.com
  secret_key_base: ebd42da75b1b6a356ead89635ab2346e12c52e2cf66c9c79a9d365d4c0c1f9ccc2dabd8cb3bf6ff74cd9069554d55a5ac39f581ee00e1055c39cfadae327b37c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  admin_name: <%= ENV["ADMIN_NAME"] %>
  admin_email: <%= ENV["ADMIN_EMAIL"] %>
  admin_password: <%= ENV["ADMIN_PASSWORD"] %>
  domain_name: <%= ENV["DOMAIN_NAME"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
